<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="~/css/weui/weui.css" />
    <link rel="stylesheet" href="~/css/weui/weui2.css" />
    <link rel="stylesheet" href="~/css/weui/weui3.css" />
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
</head>
<body ontouchstart style="background-color: #f8f8f8;">
    <div class="weui-header bg-blue" >
        
        <h1 class="weui-header-title">工厂联盟</h1>

    </div>
    @RenderBody()
    <div style="height:100px" />
    <section class="weui-menu">
        <div class="weui-menu-inner">
            <a href="/wechat/index/" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="~/images/weui/icon_nav_button.png" alt="">
                </div>
                <p class="weui_tabbar_label">首页</p>
            </a>
        </div>
        <div class="weui-menu-inner">
            <a href="/wechat/placeorder/" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="~/images/weui/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_tabbar_label">下单</p>
            </a>

        </div>
        <div class="weui-menu-inner">
            <a href="/wechat/business/" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="~/images/weui/icon_nav_article.png" alt="">
                </div>
                <p class="weui_tabbar_label">业务&报价</p>
            </a>

        </div>
        <div class="weui-menu-inner">

            <a href="/wechat/me/" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="~/images/weui/icon_nav_cell.png" alt="">
                </div>
                <p class="weui_tabbar_label">我</p>
            </a>
        </div>
    </section>
    <script src="~/js/weui/zepto.min.js"></script>
    <script src="~/js/weui/iscroll.js"></script>
    <script>
        $(function () {
            var urlpath = window.location.pathname;
            console.log(urlpath);
            switch (urlpath) {
                case '/wechat/index/':
                    index = 0;
                    break;
                case '/wechat/placeorder/':
                    index = 1;
                    break;
                case '/wechat/business/':
                    index = 2;
                    break;
                case '/wechat/me/':
                    index = 3;
                    break;
                default:
                    index = 0;
            }

            $('.weui-menu').tab({
                defaultIndex: index,
                activeClass: 'weui_bar_item_on',
                onToggle: function (index) {

                }
            });


        });</script>
    @RenderSection("scripts", required: false)
</body>
</html>
