 {% extends "base.html" %}
{% block content %}

<div class="weui_grids grids-small"  >
            <a href="javascript:;" class="grid"  >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui_grid_label">
                    按钮来了吗
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_cell.png" alt="">
                </div>
                <p class="weui_grid_label">
                    列表
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_toast.png" alt="">
                </div>
                <p class="weui_grid_label">
                    QQ
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_dialog.png" alt="">
                </div>
                <p class="weui_grid_label">
                    弹出
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_progress.png" alt="">
                </div>
                <p class="weui_grid_label">
                    进度
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_grid_label">
                    消息
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_article.png" alt="">
                </div>
                <p class="weui_grid_label">
                    文章
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_actionSheet.png" alt="">
                </div>
                <p class="weui_grid_label">
                    菜单
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_icons.png" alt="">
                </div>
                <p class="weui_grid_label">
                    图标
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_panel.png" alt="">
                </div>
                <p class="weui_grid_label">
                    面板
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_tab.png" alt="">
                </div>
                <p class="weui_grid_label">
                    Tab
                </p>
            </a>
            <a href="javascript:;" class="grid" >
                <div class="weui_grid_icon">
                    <img src="/static/images/icon_nav_search_bar.png" alt="">
                </div>
                <p class="weui_grid_label">
                    搜索
                </p>
            </a>
        </div>
{% endblock %}
