<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/static/style/weui.css"/>
    <link rel="stylesheet" href="/static/style/weui2.css"/>
    <link rel="stylesheet" href="/static/style/weui3.css"/>

</head>

<body ontouchstart style="background-color: #f8f8f8;">
<div class="weui-header bg-blue">
    <div class="weui-header-left"><a class="icon icon-109 f-white">返回</a></div>
    <h1 class="weui-header-title">报价清单</h1>

</div>
<div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">业务范围</div>
            <table class="weui-table weui-border-tb" >
                <thead>
                <tr><th>业务</th><th>工艺</th><th>价格</th></tr>
                </thead>
                <tbody>
                <tr><td>亚克力</td><td>5+3厚发的水水水水水水水水水水水</td><td>1231元 </td></tr>
                <tr><td>2014257777</td><td>待付款</td><td>dfsa</td></tr>
                <tr><td>2014257777</td><td>待付款</td><td> 付款 </td></tr>
                </tbody>
            </table>
</div>
<div class="weui_panel weui_panel_access">
    <div class="weui_panel_hd">业务范围</div>
            <table class="weui-table weui-border-tb" >
                <thead>
                <tr><th>业务</th><th>工艺</th><th>价格</th></tr>
                </thead>
                <tbody>
                <tr><td>亚克力</td><td>5+3厚发的水水水水水水水水水水水</td><td>1231元 </td></tr>
                <tr><td>2014257777</td><td>待付款</td><td>dfsa</td></tr>
                <tr><td>2014257777</td><td>待付款</td><td> 付款 </td></tr>
                </tbody>
            </table>
</div>
</body>
</html>
