@model RC.ADS.Data.Entity.AD_SMS.SMSApp

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>SMSApp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="appid" class="control-label"></label>
                <input asp-for="appid" class="form-control" />
                <span asp-validation-for="appid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appkey" class="control-label"></label>
                <input asp-for="appkey" class="form-control" />
                <span asp-validation-for="appkey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SMSAppName" class="control-label"></label>
                <input asp-for="SMSAppName" class="form-control" />
                <span asp-validation-for="SMSAppName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Describe" class="control-label"></label>
                <input asp-for="Describe" class="form-control" />
                <span asp-validation-for="Describe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
