@model Senparc.Weixin.MP.AdvancedAPIs.OAuth.OAuthUserInfo
@{
    ViewData["Title"] =$"{Model.nickname}的信息";
    Layout = "~/Views/Shared/Wechat/_LayoutWechatComeBack.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>$"昵称:{@Model.nickname}"</p>
<p>$"性别:{@Model.sex}"</p>
<p>$"城市:{@Model.city}"</p>
<p>$"openid:{@Model.openid}"</p>
<p><img src="@Model.headimgurl" width="200" alt="@Model.nickname" /></p>
 

