@model RC.ADS.Data.Entity.AD_Article.Article

@{
    ViewData["Title"] = "Edit";
}

<h2>Create</h2>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleName" class="control-label"></label>
                <input asp-for="ArticleName" class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ArticleTypeName</label>
                @Html.DropDownList("ArticleTypeId", ViewBag.SelectListEnum as SelectList, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="ArticleContent" class="control-label"></label>
                <input asp-for="ArticleContent" class="form-control" />
                <span asp-validation-for="ArticleContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleIco" class="control-label"></label>
                <input asp-for="ArticleIco" type="file" id="ArticleIco" name="ArticleIco" style="display:none" class="form-control" />
                <img id="showArticleIco" src="@Url.Content(Model.ArticleIco)" style="width:100px; height:100px;" />
                <input type="button" id="selctArticleIco" value="选择图片" />
            </div>
            <div class="form-group">
                <label asp-for="ArticleImage" class="control-label"></label>
                <input asp-for="ArticleImage" type="file" name="ArticleImage" id="ArticleImage" style="display:none" class="form-control" />
                <img id="showArticleImage" style="width:100px; height:100px;" src="@Model.ArticleImage" alt="用作图片预览" />
                <input type="button" id="selctArticleImage" value="选择图片" />
            </div>
            <div class="form-group">
                <label asp-for="ArticleIndex" class="control-label"></label>
                <input asp-for="ArticleIndex" class="form-control" />
                <span asp-validation-for="ArticleIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/ckeditor_4.10.0_full/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            CKEDITOR.replace('ArticleContent');


            let ArticleIcoStr = "";
            $("#ArticleIco").change(function (e) {

                var file = e.delegateTarget.files[0];
                //在此可以对选择的文件进行判断:文件类型 文件大小等
                //.....

                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (ret) {
                    ArticleIcoStr = reader.result
                    //预览图片
                    $("#showArticleIco").attr({ "src": ArticleIcoStr });
                }
            });
            $("#selctArticleIco").click(function () {
                $("#ArticleIco").click();
            });

            let ArticleImageStr = "";
            $("#ArticleImage").change(function (e) {

                var file = e.delegateTarget.files[0];
                //在此可以对选择的文件进行判断:文件类型 文件大小等
                //.....

                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (ret) {
                    ArticleImageStr = reader.result
                    //预览图片
                    $("#showArticleImage").attr({ "src": ArticleImageStr });
                }
            });
            $("#selctArticleImage").click(function () {
                $("#ArticleImage").click();
            });




            $("#submitPic").click(function () {

                $.ajax("Uploadfile", {
                    type: "post",
                    datatype: "json",
                    data: picString,
                    error: function () { },
                    success: function (result) {

                        if (result) {
                            alert(result.msg);
                        }
                    }
                });
            });
        });
    </script>
}
