@model IEnumerable<RC.ADS.Data.Entity.AD_Article.Article>

@{
    ViewData["Title"] = "Business";
    Layout = "~/Views/Shared/Wechat/_LayoutWechat.cshtml";
}
<div>
    <div class="slide" id="slide1">
        <ul>
            <li>
                <a href="#">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="http://7xr193.com1.z0.glb.clouddn.com/1.jpg" alt="">
                </a>
                <div class="slide-desc">零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
            </li>
            <li>
                <a href="#">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="http://7xr193.com1.z0.glb.clouddn.com/2.jpg" alt="">
                </a>
                <div class="slide-desc">23333零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
            </li>
            <li>
                <a href="#">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="http://7xr193.com1.z0.glb.clouddn.com/3.jpg" alt="">
                </a>
                <div class="slide-desc">33333零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
            </li>
        </ul>
        <div class="dot">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="weui_grids grids-small">
        @foreach (var item in Model)
        {
            <a asp-controller="wechat" asp-action="ShowArticle" asp-route-id="@item.Id" class="grid">
                <div class="weui_grid_icon">
                    <img src="@item.ArticleIco" alt="">
                </div>
                <p class="weui_grid_label">
                    @item.ArticleName
                </p>
            </a>
        }
    </div>
</div>