@model RC.ADS.WebAPP.Models.WeChat.LoginVM
@{
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="~/css/weui/weui.css" />
    <link rel="stylesheet" href="~/css/weui/weui2.css" />
    <link rel="stylesheet" href="~/css/weui/weui3.css" />
</head>

<body ontouchstart style="background-color: #f8f8f8;">

    <div class="tcenter" style="overflow:hidden; ">
        <div class="f-green icon icon-84" style="font-size:100px;line-height:normal"></div>
        @*<span class="icon icon-84"></span>
        <img class="img-radius" style="margin:10px auto 0;width:50px;height:50px;" src="~/favicon.ico">*@
    </div>
    <form id="form" method="post" asp-controller="wechat" asp-action="Login">
        <input class="weui_input" style="display:none" value="@Model.ReturnUrl">
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" value="@Model.Username" name="Username" required="" type="tel" maxlength="11" placeholder="输入你现在的手机号"
                           pattern="[0-9]{11}" notmatchtips="请输入正确的手机号" emptytips="请输入手机号">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>

            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" required="" type="password" name="Password" value="@Model.Password" maxlength="11" placeholder="请输入密码">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
        </div>
        <div class="weui_btn_area">
            <button class="weui_btn weui_btn_primary" type="submit" id="formSubmitBtn">登陆</button>
            <a class="weui_btn weui_btn_default" asp-controller="wechat" asp-action="Register"   >注册</a>
        </div>
    </form>
    <script src="~/js/weui/zepto.min.js"></script>
</body>

</html>


