@model RC.ADS.WebAPP.Models.WeChat.ModifPasswordDto

@{
    ViewData["Title"] = "修改密码";
    Layout = "~/Views/Shared/Wechat/_LayoutWechatComeBack.cshtml";
}

<form asp-controller="wechat" asp-action="ModifPassword">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">旧密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input asp-for="OldPassword" class="weui_input" type="password" placeholder="请输入你的旧密码">
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">新密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input asp-for="NewPassword" class="weui_input" type="password" placeholder="请输入你的新密码">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">确认新密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input asp-for="ConfirmPassword" class="weui_input" type="password" placeholder="请输入确认你的新密码">
            </div>
        </div>
        @if (Model != null && !string.IsNullOrEmpty(Model.Msg))
        {
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <label asp- style="color:red">@Model.Msg</label>
                </div>
            </div>
        }
    </div>
    <div class="weui_btn_area">
        <button class="weui_btn weui_btn_primary" type="submit">保存</button>
        <a class="weui_btn weui_btn_default" asp-controller="wechat" asp-action="me">返回</a>
    </div>
</form>


