
@{
    ViewData["Title"] = "PromoCode";
    Layout = "~/Views/Shared/Wechat/_LayoutWechatComeBack.cshtml";
}

<h2>我的推广码</h2>

<div class="weui_cells weui_cells_form">
    <img src="~/wechat/ShowCode/" style="height:300px;width:300px">
</div>