@{
    ViewData["Title"] = "充值";
    Layout = "~/Views/Shared/Wechat/_LayoutWechatComeBack.cshtml";
}

<div class="weui-pay">
    <h1 class="weui-payselect-title">选择金额付款</h1>
    <p class="weui-payselect-info">支付金额给商户</p>
    <ul class="weui-payselect-ul">
        <li class="weui-payselect-li">
            <a href="javascript:;" class="weui-payselect-a weui-payselect-on">100元<span class="weui-pay-12">110次</span></a>
        </li>
        <li class="weui-payselect-li">
            <a href="javascript:;" title="10" class="weui-payselect-a">10元</a>
        </li>
        <li class="weui-payselect-li">
            <a href="javascript:;" class="weui-payselect-a">100元<span class="weui-pay-12">99.9元</span></a>
        </li>
        <li class="weui-payselect-li">
            <a href="javascript:;" class="weui-payselect-a">500元</a>
        </li>
        <li class="weui-payselect-li">
            <a href="javascript:;" class="weui-payselect-a">1000元</a>
        </li>
        <li class="weui-payselect-li">
            <a href="javascript:;" class="weui-payselect-a">5000元<span class="weui-pay-12">送1000元</span></a>
        </li>
    </ul>
    <a href="javascript:;" id="pay" class="weui_btn weui_btn_primary">立即支付</a>

</div>

@section Scripts{
<script>
    $(function () {
        $(".weui-payselect-li").on('click', function () {
            $(this).children().addClass("weui-payselect-on");
            $(this).siblings().children().removeClass("weui-payselect-on");
            return false;
        })
        $("#pay").click(function () {
            let price = $(".weui-payselect-on").attr("title");
            console.log(price);
            //$.ajax({
            //    url: "/verify_mobileCode/", //提交到那里
            //    type: "post", //提交类型
            //    data: { "mobile": mobile, "Vcode": Vcode },//提交的数据
            //    success: function (data) {

            //         WeixinJSBridge.invoke('getBrandWCPayRequest', {
            //        "appId": data.appId, //公众号名称，由商户传入
            //             "timeStamp": data.timeStamp, //时间戳
            //        "nonceStr": data.nonceStr, //随机串
            //        "package": data.package,//扩展包
            //        "signType": "MD5", //微信签名方式:MD5
            //        "paySign": data.paySign //微信签名
            //    }, function (res) {

            //        alert(JSON.stringify(res));
            //        // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
            //        //因此微信团队建议，当收到ok返回时，向商户后台询问是否收到交易成功的通知，若收到通知，前端展示交易成功的界面；若此时未收到通知，商户后台主动调用查询订单接口，查询订单的当前状态，并反馈给前端展示相应的界面。
            //    });

            //    }
            //});
         });

    });
</script>
}
