@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="~/css/weui/weui.css" />
    <link rel="stylesheet" href="~/css/weui/weui2.css" />
    <link rel="stylesheet" href="~/css/weui/weui3.css" />
</head>

<body ontouchstart style="background-color: #f8f8f8;">

    <form id="form" action="/reg/" method="post">

        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" required="" type="tel" maxlength="11" placeholder="输入你现在的手机号"
                           pattern="[0-9]{11}" notmatchtips="请输入正确的手机号" emptytips="请输入手机号" name="mobile" id="mobile">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
            <div class="weui_cell weui_vcode">
                <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" placeholder="请输入验证码" id="Vcode" name="Vcode">
                </div>
                <div class="weui_cell_ft">

                    <img src="~/wechat/ValidateCode/" alt="看不清,换一张" id="yzm">
                </div>
            </div>
            <div class="weui_cell weui_vcode">
                <div class="weui_cell_hd"><label class="weui_label">手机验证码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" required="" type="number" placeholder="点击验证码更换" tips="请输入验证码"
                           name="mobileVcode">
                </div>
                <div class="weui_cell_ft">

                    <a class="weui-vcode-btn" id="getCode">获取手机验证码</a>
                    <!--当点击获取时，60秒后重新发送-->
                    <a class="weui-vcode-btn" id="timeCode">60秒后获取</a>

                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" required="" type="password" maxlength="11" placeholder="请输入6-8位长度密码"
                           notmatchtips="请输入密码" emptytips="请输入密码" name="password">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
        </div>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" class="weui-agree-checkbox" type="checkbox">
            <span class="weui-agree-text">
                阅读并同意<a href="javascript:void(0);">《相关条款》</a>
            </span>
        </label>

        <div class="weui_btn_area">
            <button class="weui_btn weui_btn_primary" type="submit" id="formSubmitBtn">注册</button>
        </div>
    </form>

    <script src="~/js/weui/zepto.min.js"></script>
    <script src="~/js/wechat/Register.js"></script>
</body>
</html>

