@model RC.ADS.WebAPP.Models.WeChat.RegisterVM
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="~/css/weui/weui.css" />
    <link rel="stylesheet" href="~/css/weui/weui2.css" />
    <link rel="stylesheet" href="~/css/weui/weui3.css" />
</head>

<body ontouchstart style="background-color: #f8f8f8;">
    <div class="weui-header bg-blue">
        <div class="weui-header-left"> <a asp-controller="wechat" asp-action="index" class="icon icon-109 f-white">主页</a>  </div>
        <h1 class="weui-header-title">注册</h1>

    </div>
    <div class="tcenter" style="overflow:hidden; ">
        <div class="f-green icon icon-84" style="font-size:100px;line-height:normal"></div>
        @*<img class=" img-radius" style="margin:10px auto 0;width:50px;height:50px;" src="favicon.png">*@
    </div>
    <form id="form" action="/reg/" method="post">
        <input asp-for="ReferrerId" class="weui_input" style="display:none" />
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input asp-for="Username" class="weui_input" type="tel" placeholder="输入你现在的手机号" />
                    @*<input class="weui_input" required="" type="tel" maxlength="11" placeholder="输入你现在的手机号"
                        pattern="[0-9]{11}" notmatchtips="请输入正确的手机号" emptytips="请输入手机号" name="mobile" id="mobile">*@
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
            <div class="weui_cell weui_vcode">
                <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input asp-for="ImageValidateCode" id="Vcode" class="weui_input" placeholder="请输入验证码" />
                </div>
                <div class="weui_cell_ft">

                    <img src="~/wechat/ValidateCode/" alt="看不清,换一张" id="yzm">
                </div>
            </div>
            <div class="weui_cell weui_vcode">
                <div class="weui_cell_hd"><label class="weui_label">手机验证码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input asp-for="PhoneValidateCode" class="weui_input" type="number" placeholder="请输入手机验证码" tips="请输入手机验证码">
                </div>
                <div class="weui_cell_ft">

                    <a class="weui-vcode-btn" style="font-size:x-small" id="getCode">获取手机验证码</a>
                    <!--当点击获取时，60秒后重新发送-->
                    <a class="weui-vcode-btn" style="font-size:x-small" id="timeCode">60秒后获取</a>

                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input asp-for="Password" class="weui_input" type="password" placeholder="请输入密码" tips="请输入密码">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">确认密码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input asp-for="ConfirmPassword" class="weui_input" type="password" placeholder="请确认密码" tips="请确认密码">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div>
        </div>


        <div class="weui_btn_area">
            <button class="weui_btn weui_btn_primary" asp-controller="wechat" asp-action="Register" type="submit" id="formSubmitBtn">注册</button>
            <a class="weui_btn weui_btn_default" asp-controller="wechat" asp-action="login">去登陆</a>
        </div>
    </form>

    <script src="~/js/weui/zepto.min.js"></script>
    <script src="~/js/wechat/Register.js"></script>
</body>
</html>

