
@{
    ViewData["Title"] = "ShowCode";
    Layout = "~/Views/Shared/Wechat/_LayoutWechat.cshtml";
}

<h2>ShowCode</h2>
<div class="weui_cells weui_cells_form">
    <img src="~/wechat/ShowCode1/" alt="看不清,换一张" id="yzm">
    </div>