
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <title>Text</title>
</head>
<body>
    <script>
        let LastLoginGuidCode = localStorage.getItem("LastLoginGuidCode");
        let Username = localStorage.getItem("Username");
         console.log(LastLoginGuidCode);
        console.log(Username);
 
    </script>
</body>

</html>
